extends layout

block content

  //- h1.page-title=title

  div.aboutUs

    div.shape
      div.cir1
      div.cir2
      div.cir3

    div

      div.slogan
        div.D1
        div.D2
        div.P3
        
      

      