extends layout

block content

  h1.page-title=title

  div.slogan
    div.D1
    div.D2
    div.P3
    
  h1 ‘Dream, Design, Play’ DDP

  div
    p Welcome to Dongdaemun Design Plaza (DDP) where you can 'Dream, Design, Play’

    P is a multi-cultural complex located at Dongdaemun History & Culture Park Station in Seoul, Korea. Since its foundation on March 21, 2014, DDP has staged diverse cultural events including exhibitions, fashion shows, product launch shows, forums, conferences and various cultural events. 

    P is where new design trends begin and cultures are exchanged. It is a venue that introduces new products and fashion trends, that shares knowledge through exhibitions, and that offers diverse contents to experience new design. Through these activities, DDP will be the hub of the design and fashion industry that will expand to Asia and the world.

  