extends layout

block content

   h1.page-title 뒤로가기

   .facility
      .fac-list
         ul 
            li 
               span.fac-list-tit Art Hall 1
                  ul 
                     li
                        a Art Hall 1
                     li
                        a Art Hall 2
                     li
                        a International Conference Hall
                     li
                        a Café de Fessonia
            li 
               span.fac-list-tit Art Hall 1
                  ul 
                     li
                        a Art Hall 1
                     li
                        a Art Hall 2
                     li
                        a International Conference Hall
                     li
                        a Café de Fessonia
            li 
               span.fac-list-tit Art Hall 1
                  ul 
                     li
                        a Art Hall 1
                     li
                        a Art Hall 2
                     li
                        a International Conference Hall
                     li
                        a Café de Fessonia
   

      .fac-acc
         .fac-description 
            h1 Art Hall 1

            .fac-img 
               img(src='../images/facility/01_01.jpg')

               p Art Hall is a white, spacious space without poles for various events and exhibitions to be held.<br>It is the best space to present a design/concept/performance for the first time to the world.<br>Art Hall 1 is the highest building in DDP with various additional facilities.
         
      