extends layout

block content

   
   .facilities

      h1.page-title=title

      .fac-map
         figure.fac-img
            img(src='../images/facilities/facilities.svg')

         .fac-zones

            h2.fac-spa1 Art Hall

            h2.fac-spa2 Museum 

            h2.fac-spa3 Design Lab

            a.fac-zone1(href='/facility/1') Art Hall 1 
               span.fac-zone-flo B2F

            a.fac-zone2(href='/facility/2') Art Hall 2 
               span.fac-zone-flo B2F

            a.fac-zone3(href='/facility/3') Yigansumun Exhibition Hall

            a.fac-zone4(href='/facility/4') Dongdaemun History Museum

            a.fac-zone5(href='/facility/5') Gallery MUN

            a.fac-zone6(href='/facility/6') Designers Lounge 
               span.fac-zone-flo 4F

            a.fac-zone7(href='/facility/7') Design Shop 
               span.fac-zone-flo 1F

            a.fac-zone8(href='/facility/8') Oullim Square 
               span.fac-zone-flo B2F

            a.fac-zone9(href='/facility/9') Design Exhibition Hall 
               span.fac-zone-flo B2F

            a.fac-zone10(href='/facility/10') Design Museum 
               span.fac-zone-flo 2F
            
            .fac-bus Bus Stop

            .fac-subway Subway

            .fac-parking Parking Lot