extends layout

block content

   h1.page-title=title
   
   .fac-information
      .fac-map
         figure.fac-img
            img(src='../images/facilities/facilities.svg')

         .fac-zones

            h1.fac-spa1 Art Hall

            h1.fac-spa2 Museum 

            h1.fac-spa3 Design Lab

            a.fac-zone1(href='/facility') Art Hall 1 
               span.fac-zone-flo B2F

            a.fac-zone2 Art Hall 2 
               span.fac-zone-flo B2F

            a.fac-zone3 Yigansumun Exhibition Hall

            a.fac-zone4 Dongdaemun History Museum

            a.fac-zone5 Dongdaemun Stadium Memorial

            a.fac-zone6 Gallery MUN

            a.fac-zone7 Designers Lounge 
               span.fac-zone-flo 4F

            a.fac-zone8 Design Playground 
               span.fac-zone-flo 4F

            a.fac-zone9 Design Shop 
               span.fac-zone-flo 1F

            a.fac-zone10 Information Center 
               span.fac-zone-flo B2F

            a.fac-zone11 Oullim Square 
               span.fac-zone-flo B2F

            a.fac-zone12 Design Exhibition Hall 
               span.fac-zone-flo B2F

            a.fac-zone13 Design Pathway 
               span.fac-zone-flo B2F~1F

            a.fac-zone14 Design Museum 
               span.fac-zone-flo 2F
            
            .fac-bus Bus Stop

            .fac-subway Subway

            .fac-parking Parking Lot