extends layout

block content
  
  .index 
    .main

      h1.ind-title
        a DDP

      //- .about-btn About DDP

      img#img1(src='../images/index/ddp2.svg')

      .earth

      img#img2(src='../images/index/ddp3.svg')

      //- img#img3(src='../images/index/3.svg')

      img#img3(src='../images/index/ddp1.svg')

      //- img#img4-2(src='../images/index/4-2.svg')

    //- div.ind-pro
    //-   - for (let i = 1; i < 7; i++)
    //-     img(src=`../images/program/program${i}.jpg`)

    


  ul.social 
    li 
      a(href='')
        img.fb(src='../images/facebook.svg')
    li 
      a(href='')
        img.in(src='../images/instagram.svg')
    li 
      a(href='')
        img.yt(src='../images/youtube.svg')
        

