extends layout

block content

  h1.page-title=title 

  .pro-content
    .pro-category
      ul 
        li All
        li Exhibition
        li Event
        li Education
        li DDP Tour

    .pro-list
