.aboutUs {
   display: flex;
   width: 100%;
   height: 100%;
}

.aboutUs > div{
   display: flex;
   align-items: center;
   width: 50%;
}

.shape {
   display: flex;
   justify-content: center;
   align-items: center;
} 

.shape div {
   width: 100px;
   height: 100px;
   background: #000;
   border-radius: 50%;
}

.shape .cir1 {
   background: #d60150;
   /* animation: identifier 2s ease-in-out infinite; */
   animation: identifier2 1s linear infinite;


}

.shape .cir2 {
   background: #f7b52b;
   /* animation: identifier 2s 0.7s ease-in-out infinite; */
}

.shape .cir3 {
   background: #2b86c6;
   /* animation: identifier 2s 1.4s ease-in-out infinite; */
}

.animation {
   animation: identifier 2s 0.7s ease-in-out infinite;
}

.animation2 {
   animation: identifier2 2s 0.7s ease-in-out infinite;
}

@keyframes identifier {
   0% {
      transform: scale(0) translateY(0);
   }
   50% {
      transform: scale(1) translateY(-50px);
   }
   100% {
      transform: scale(0) translateY(0);
   }
}

@keyframes identifier2 {
   0% {
      transform: rotate(0deg);
      transform-origin: 100% 100% 0;
   }
   100% {
      transform: rotate(360deg);
   }
}


.slogan div {
   font-size: 10rem;
   font-weight: 900;
}

.slogan .D1::before {
   content: 'D';
}

.slogan .D1:hover::before {
   content: 'Dream';
   color: #d60150;
}

.slogan .D2::before {
   content: 'D';
}

.slogan .D2:hover::before {
   content: 'Design';
   color: #f7b52b;
   
}

.slogan .P3::before {
   content: 'P';
}

.slogan .P3:hover::before {
   content: 'Play';
   color: #2b86c6;

}

.discription {
   /* width: 50%; */
   font-size: 0.85rem;
   display: flex;
   align-items: center;
   justify-content: center;
}