.about {
   /* height: 100%; */
   /* width: 100%; */
   padding: 100px 200px 0px;
   overflow: hidden;
}

.about>h1 {
   font-size: 4rem;
}

.abo-slogan {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.abo-slo {
   width: 100%;
   cursor: wait;
}

.abo-slo:not(:last-child) {
   padding-right: 30px;
}

.abo-slo:hover div {
   animation-play-state: paused;
}

.abo-slo .abo-motion {
   width: 100%;
   height: 275px;
   /* border: 1px solid #eee; */
}

.abo-slo h2 {
   text-align: center;
   font-weight: 700;
}

/* .abo-dream h2 span {
   font-weight: 400;
   color: var(--dream-color)
}

.abo-design h2 span {
   font-weight: 500;
   color: var(--design-color)
}

.abo-play h2 span {
   font-weight: 500;
   color: var(--play-color)
} */


.abo-descript {
   width: 100%;
   display: flex;
   align-items: center;
   font-size: 1rem;
   font-weight: 300;
   line-height: 2rem;
   top: 0;
   margin-top: 70px;
}

.abo-all {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 10%;
   top: 72%;
   width: 30px;
   height: 30px;
   background: #fff;
   color: #000;
   text-align: center;
   font-weight: 400;
   border-radius: 50%;
   cursor: pointer;
}

.abo-all:hover {
   filter: invert(1);
}

.abo-img {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.abo-img img {
   width: 100%;
   object-fit: cover;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
}

.abo-descript p span {
   cursor: pointer;
   border: 1px solid #000;
   border-radius: 2rem;
   padding: 0 10px;
   font-weight: 400;
   /* text-transform: uppercase; */
}

.abo-descript p span:hover {
   border: none;
}

.abo-descript .DDP::after {
   content: '동대문 디자인 플라자';
}

.abo-descript .DDP:hover::after {
   content: 'Dongdaemun Design Plaza'
}

.abo-descript .D1::after {
   content: '꿈꾸고';
}

.abo-descript .D1:hover::after {
   content: 'Dream';
}

.abo-descript .D2::after {
   content: '만들고';
}

.abo-descript .D2:hover::after {
   content: 'Design';
}

.abo-descript .P3::after {
   content: '누리자';
}

.abo-descript .P3:hover::after {
   content: 'Play';
}

.abo-descript .trends::after {
   content: '트렌드';
}

.abo-descript .trends:hover::after {
   content: 'trends';
}

.abo-descript .cultures::after {
   content: '문화';
}

.abo-descript .cultures:hover::after {
   content: 'cultures';
}

.abo-descript .new::after {
   content: '신제품';
}

.abo-descript .new:hover::after {
   content: 'new products';
}

.abo-descript .fashion::after {
   content: '패션';
}

.abo-descript .fashion:hover::after {
   content: 'fashion';
}

.abo-descript .exhibitions::after {
   content: '전시';
}

.abo-descript .exhibitions:hover::after {
   content: 'exhibitions';
}

.abo-descript .hub::after {
   content: '디자인 산업의 발신지';
}

.abo-descript .hub:hover::after {
   content: 'the hub of the design industry';
}

.abo-descript .world::after {
   content: '아시아를 넘어 세계로';
}

.abo-descript .world:hover::after {
   content: 'Asia and the world.';
}



.c {
   border-radius: 50%;
   border: 1px solid #000;
   height: 100px;
   width: 100px;
   position: absolute;
}


.abo-motion {
   display: flex;
   justify-content: center;
   align-items: center;
}


.abo-dream .c1 {
   animation: dream1 2s infinite;
}

.abo-dream .c3 {
   animation: dream3 2s infinite;
}

@keyframes dream1 {
   30% {
      transform: translateX(-50px);
   }

   70% {
      transform: translateX(-50px);
   }

   100% {
      transform: translateX(0px);
   }
}

@keyframes dream3 {
   30% {
      transform: translateX(50px);
   }

   70% {
      transform: translateX(50px);
   }

   100% {
      transform: translateX(0px);
   }
}


.abo-design .abo-motion {
   animation: design 3s infinite;
}

.abo-design .c1 {
   animation: design1 3s infinite;
}

.abo-design .c2 {
   animation: design2 3s infinite;
}

.abo-design .c3 {
   animation: design3 3s infinite;
}


@keyframes design1 {
   0% {
      transform: translateY(0px);
   }

   33% {
      transform: translateY(-35px);
   }

   66% {
      transform: translateY(-35px);
   }

   100% {
      transform: translateY(0px);
   }
}

@keyframes design2 {
   33% {
      transform: translate(-35px, 35px);
   }

   66% {
      transform: translate(-35px, 35px);
   }

   100% {
      transform: translate(0px, 0px);
   }
}

@keyframes design3 {
   33% {
      transform: translate(35px, 35px);
   }

   66% {
      transform: translate(35px, 35px);
   }

   100% {
      transform: translate(0px, 0px);
   }
}

@keyframes design {
   0% {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(360deg);
   }

   100% {
      transform: rotate(720deg);
   }
}




.abo-play .c1 {
   /* border: 3px solid var(--dream-color); */
   animation: play 2s ease-in-out infinite;
}

.abo-play .c2 {
   /* border: 3px solid var(--design-color); */
   animation: play 2s 0.2s ease-in-out infinite;
}

.abo-play .c3 {
   /* border: 3px solid var(--play-color); */
   animation: play 2s 0.4s ease-in-out infinite;
}

@keyframes play {
   0% {
      transform: translateY(0px);
   }

   20% {
      transform: translateY(70px);
   }

   45% {
      transform: translateY(-70px);
   }

   70% {
      transform: translateY(0px);
   }

   100% {
      transform: translateY(0px);
   }
}
