.main {
   position: relative;
   height: 100%;
   background: #fff;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
}

.main h1 {
   position: absolute;
   font-size: 15rem;
   z-index: 7;
   top: 20%;
   /* margin-top: -400px; */
   color: #000;
   /* transform: translate(calc(var(--x) / 30), calc(var(--y) / 30)); */
   /* animation: identifier 3s linear infinite; */
}

@keyframes identifier {
   0% {
      right: 0;
   }
   100% {
      right: 100%;
   }
}

.main img {
   position: absolute;
}

.main img#img1 {
   left: 25%;
   width: 80%;
   bottom: 0;
}

.earth {
   background: #111;
   border: 2px solid #000;
   position: absolute;
   width: 100%;
   height: 25%;
   bottom: 0;
}

.main img#img2 {
   right: -300px;
   height: 100%;
   z-index: 10;
}

.main img#img3 {
   bottom: -200px;
   width: 100%;
   z-index: 5;
}

.main img#img4 {
   left: -350px;
   height: 100%;
   z-index: 10;
}

.main img#img4-2 {
   height: 90%;
   left: -450px;
   bottom: -150px;
}

.main::after {
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 200px;
   background: linear-gradient(to top, #fff, transparent);
   z-index: 11;
}

ul.social {
   display: flex;
   position: fixed;
   bottom: 1rem;
   right: 0;
}

ul.social li a {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
   background: #fff;
   width: 40px;
   height: 40px;
   border-radius: 50%;
}


ul.social li img.fb {
   width: 20px;
}

ul.social li img.in {
   width: 25px;
}

ul.social li img.yt {
   width: 25px;
}



.ind-pro {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 30px;
   background: #fff;
   color: #fff;
   padding: 50px 100px 200px;
}

.ind-pro img {
   width: 100%;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   transition: .3s;
   filter: grayscale(1);
}

.ind-pro img:hover {
   filter: grayscale(0);
   border-top-left-radius: 0%;
   border-top-right-radius: 0%;
}