.program {
   padding: 100px 200px 0;
}

.pro-category {
   width: 100%;
   margin-top: 50px;
}

.pro-category ul {
   display: flex;
   justify-content: space-between;
}

.pro-category ul li {
   font-size: 1rem;
   font-weight: 400;
   cursor: pointer;
   transition: 0.2s;
}

.pro-category ul li:hover {
   transform: scale(1.3);
}

.pro-list {
   height: 100%;
   overflow: scroll;
}

.pro-list ul li {
   border-top: 1px solid #aaa;
   padding-top: 30px;
   margin-top: 30px;
   transition: transform .2s ease-in-out;
   position: relative;
}

.pro-list .pro-img {
   text-align: right;
   width: 100%;
}

.pro-list .pro-img img {
   width: 100%;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   transition: .3s;
   max-width: 400px;
}

.pro-list ul li:hover img {
   border-top-left-radius: 0%;
   border-top-right-radius: 0%;
}

.pro-list .pro-tit {
   font-size: 2.5rem;
   font-weight: 200;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 40%;
}

.pro-list .pro-cate {
   font-size: 0.9rem;
   font-weight: 600;
   position: absolute;
   top: 10%;
}

.pro-list .pro-sch {
   font-size: 0.9rem;
   font-weight: 600;
   position: absolute;
   top: 85%;
}

.pro-list .pro-loc {
   font-size: 0.8rem;
   position: absolute;
   top: 92%;
}