.program {
   padding: 130px 15vw 0;
}

.pro-category {
   width: 100%;
   margin-top: 50px;
   padding-bottom: 50px;
   border-bottom: 1px solid;
}

.pro-category ul {
   display: flex;
}

.pro-category ul li {
   font-size: 1rem;
   font-weight: 400;
   cursor: pointer;
   padding: 0 10px;
   border-radius: 20px;
   border: 1px solid #fff;
}

.pro-category ul li:not(:last-child) {
   margin-right: 50px;
}

.pro-category ul li:hover {
   border: 1px solid;
   border-radius: 20px;
   color: #000;
}

.pro-category ul li.pro-cate-on {
   border: 1px solid;
   color: #000;
}

.pro-list {
   height: 100%;
   overflow: scroll;
   margin-top: 50px;
}

.pro-list ul li {
   border-bottom: 1px solid #aaa;
   padding-bottom: 50px;
   margin-bottom: 50px;
   transition: transform .2s ease-in-out;
   position: relative;
}

.pro-list .pro-img {
   text-align: right;
   width: 100%;
}

.pro-list .pro-img img {
   width: 100%;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   transition: .3s;
   max-width: 400px;
}

.pro-list ul li:hover img {
   border-top-left-radius: 0%;
   border-top-right-radius: 0%;
}

.pro-list .pro-tit {
   font-size: 2.2rem;
   font-weight: 200;
   position: absolute;
   top: 40%;
   transform: translateY(-50%);
   width: 40%;
}

.pro-list .pro-cate {
   font-size: 0.9rem;
   font-weight: 600;
   position: absolute;
   top: 5%;
}

.pro-list .pro-sch {
   font-size: 0.8rem;
   font-weight: 500;
   position: absolute;
   top: 68%;
}

.pro-list .pro-loc {
   font-size: 0.8rem;
   position: absolute;
   top: 75%;
   color: #aaa;
}